@tailwind base;
@tailwind components;
@tailwind utilities;

.opening-line {
  height: 0;
  border-top: 4px solid #60a5fa;
  transition: height 0.5s ease-in-out;
}

@keyframes openLine {
  from {
    height: 0;
  }
  to {
    height: 200px; /* Adjust the height as needed */
  }
}

.opening-line.open {
  animation: openLine 0.5s forwards;
}
