@tailwind base;
@tailwind components;
@tailwind utilities;

.opening-line {
  height: 0;
  /* border-top: 4px solid #60a5fa; */
  transition: height 0.5s ease-in-out;
}

.opening-line.open {
  animation: openLine 0.5s forwards;
}

.opening-line.close {
  animation: closeLine 0.5s forwards;
}

.opening-line.openLonger {
  animation: openLineLonger 0.5s forwards;
}

.opening-line.closeLonger {
  animation: closeLineLonger 0.5s forwards;
}

.menu-buttons {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  color: cyan;
  font-family: monospace;
  font-weight: bold;
}

.full-width {
  width: 100%;
  font-family: monospace;
  font-weight: bold;
}

.menu-buttons:hover {
  /* background-color: white; */
  /* border-left: solid skyblue 1px; */
  border-top: solid skyblue 10px;
  border-bottom: solid skyblue 10px;
}

.css3dText {
  font-size: 1000%;
}

@keyframes openLine {
  from {
    height: 0;
  }
  to {
    height: 200px; /* Adjust the height as needed */
  }
}

@keyframes closeLine {
  from {
    height: 200px;
  }
  to {
    height: 0px; /* Adjust the height as needed */
  }
}

@keyframes openLineLonger {
  from {
    height: 0;
  }
  to {
    height: 350px; /* Adjust the height as needed */
  }
}

@keyframes closeLineLonger {
  from {
    height: 350px;
  }
  to {
    height: 0px; /* Adjust the height as needed */
  }
}
